<ion-header>
  <ion-toolbar>
    <ion-title>Hospital</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
        </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title> Micro 10 </ion-card-title>
      <img src="./assets/images/microhospital.jpg.png" alt="">
      <ion-card-subtitle>Valor de pasajes:</ion-card-subtitle>
      <ion-card-content>Tarifa normal: $700</ion-card-content>
      <ion-card-content>Tarifa escolar: $230</ion-card-content>
      <ion-card-content>Adulto mayor: $350</ion-card-content>
    </ion-card-header>
  </ion-card>
</ion-content>
