ion-title{
    font-size: 28px;
    font-family: lato;
}
ion-card-content{ 
    margin: 0px;
    margin-top: -15px;
    font-family: lato;
}

ion-card-subtitle{
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 18px;
    font-family: lato;
    color: black;
}

ion-card-title{
    font-size: 25px;
    font-family: lato;
}